* {
  margin: 0;
  box-sizing: border-box;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__header {
  background: white;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app__headerImage {
  object-fit: contain;
}
.signup__input {
  width: 100%;
  margin-bottom: 10px;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postRight {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .app__posts {
    flex-direction: column;
  }
  .app__postsLeft {
    width: 100%;
    flex: 0;
  }
  .app__postRight {
    flex: 0;
    width: 100%;
  }
  .post {
    max-width: 100% !important;
  }
  .app__postRight {
    margin-left: 0;
  }
  .app__postRight iframe {
    max-width: 100% !important;
  }
  .imageUpload {
    width: 93%;
    margin: 10px auto;
  }
}
